{% if section.settings.cart_show_payment_method %}
  <ul class="list list-payment px-20" role="list">
    {%- for type in shop.enabled_payment_types -%}
      <li class="list-payment__item">
        {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
      </li>
    {%- endfor -%}
  </ul>
{% endif %}
