{%- render 'pd-cart__shipping-notification', showDivider: true -%}

<div id="cart-notification-product" class="cart-notification-product">
  {% render 'cart-notification-product', show_vendor: true %}
</div>
