<div class=""><div class="aHl"></div><div id=":o9" tabindex="-1"></div><div id=":ny" class="ii gt" jslog="20277; u014N:xr6bB; 4:W251bGwsbnVsbCxbXV0."><div id=":nx" class="a3s aiL msg-8901253243731885328"><u></u>


    <div style="margin:0;padding:0;background-color:#fff">
    
    
    <center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" id="m_-8901253243731885328bodyTable" style="border-collapse:collapse;table-layout:auto;margin:0;padding:0;background-color:#fff;height:100%;width:100%" width="100%">
    <tbody>
    <tr>
    <td align="center" id="m_-8901253243731885328bodyCell" style="border-collapse:collapse;table-layout:auto;margin:0;border-top:0;padding-bottom:20px;padding-left:20px;padding-right:20px;padding-top:50px;height:100%;width:100%" valign="top">
    
    <div class="m_-8901253243731885328templateContainer" style="background-color:#fff;border:0 none #777;border-radius:0;display:table;width:100%">
    <div style="padding:0">
    
    
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed" width="100%">
    <tbody><tr>
    <td align="center" style="border-collapse:collapse;table-layout:fixed" valign="top">
    <table border="0" cellpadding="0" cellspacing="0" class="m_-8901253243731885328templateRow" style="border-collapse:collapse;table-layout:fixed" width="100%">
    <tbody>
    <tr>
    <td class="m_-8901253243731885328rowContainer m_-8901253243731885328kmFloatLeft" style="border-collapse:collapse;table-layout:fixed" valign="top">
    <table border="0" cellpadding="0" cellspacing="0" class="m_-8901253243731885328kmDesktopOnly" style="border-collapse:collapse;table-layout:fixed;min-width:100%" width="100%">
    <tbody>
    <tr>
    <td style="border-collapse:collapse;table-layout:fixed;padding:0;padding-right:9;padding-left:9" valign="top">
    <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed;min-width:100%" width="100%">
    <tbody>
    <tr>
    <td class="m_-8901253243731885328kmImageContent" style="border-collapse:collapse;table-layout:fixed;font-size:0;padding:0;text-align:center" valign="top">
    <a style="max-width:100%;word-wrap:break-word" href="https://trk.klclick1.com/ls/click?upn=XqygDVUqeI77b1DdgjuT3p66bI9oY8qgGvjF0sub0cj1vJbXuQMRLbtQdfw4M4o2XT7k_uvXmjjroOlIe-2BPo4Ga7jRSuUXPiKhhHNIRJp9Cs2hP6UsK8K3ZSVfY465lgN-2BpLE1SgHgwlk7bsboG6nedPexKoC1SeXHYZRJ-2F2uehMlI3LfSussanCW6WGXVM9ZY-2Fh9YsJS4BNEtbiN7BfFdK77I6mWaZSpibYCQ7qYeRpCDgLq-2BnZz684WslTbLpUdNS148iH5pU8Y1zELr939eDWG9lPrvHLvusGXda8SLeI-2B-2BzZN5-2FJl8keeEiy-2BKoz-2FUYC-2FyLeqg9CE-2Bx62cNuoPO5-2BOJqOeeJcuF1GXxDLRnJEjQo-3D" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://trk.klclick1.com/ls/click?upn%3DXqygDVUqeI77b1DdgjuT3p66bI9oY8qgGvjF0sub0cj1vJbXuQMRLbtQdfw4M4o2XT7k_uvXmjjroOlIe-2BPo4Ga7jRSuUXPiKhhHNIRJp9Cs2hP6UsK8K3ZSVfY465lgN-2BpLE1SgHgwlk7bsboG6nedPexKoC1SeXHYZRJ-2F2uehMlI3LfSussanCW6WGXVM9ZY-2Fh9YsJS4BNEtbiN7BfFdK77I6mWaZSpibYCQ7qYeRpCDgLq-2BnZz684WslTbLpUdNS148iH5pU8Y1zELr939eDWG9lPrvHLvusGXda8SLeI-2B-2BzZN5-2FJl8keeEiy-2BKoz-2FUYC-2FyLeqg9CE-2Bx62cNuoPO5-2BOJqOeeJcuF1GXxDLRnJEjQo-3D&amp;source=gmail&amp;ust=1646132260230000&amp;usg=AOvVaw0OxQmbp4wPnj3_KVP1KcUL">
    <img align="center" alt="The Memo" class="m_-8901253243731885328kmImage CToWUd" src="https://ci3.googleusercontent.com/proxy/mSqS2k1e-XZ3S-_TTprCMGcJnE7kNn_2S_RSNMpvpNsmqsbW-TQhZSXpfkc-HSHorNmtwAkSAqyV8P2dFE3wV8yowYZgklhOWiQAjcA-C7t0qVuVqEMaDlz1og8CC-djKdtF2MbJXsI4m00OKCixTJTc3UZvGg0B=s0-d-e1-ft#https://d3k81ch9hvuctc.cloudfront.net/company/KTNmVp/images/a1663db6-7623-46af-943a-a946475717c2.jpeg" style="border:0;height:auto;line-height:100%;max-width:1200px;outline:none;text-decoration:none;font-size:12px;padding-bottom:0;vertical-align:top;width:100%;display:inline;padding:0;border-width:0" width="582">
    </a>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    
    <table border="0" cellpadding="0" cellspacing="0" class="m_-8901253243731885328kmMobileOnly" style="border-collapse:collapse;table-layout:fixed;display:none;min-width:100%" width="100%">
    <tbody>
    <tr>
    <td style="border-collapse:collapse;table-layout:fixed;padding:0;padding-right:0;padding-left:0" valign="top">
    <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed;min-width:100%" width="100%">
    <tbody>
    <tr>
    <td class="m_-8901253243731885328kmImageContent" style="border-collapse:collapse;table-layout:fixed;font-size:0;padding:0;text-align:center" valign="top">
    <a style="max-width:100%;word-wrap:break-word" href="https://trk.klclick1.com/ls/click?upn=YdskLGWd9I6n9hlHHEHr5sV961KwTgh-2FrYAExHk9Q4jDvv1gGpvF4-2FQ5U7fgnXp9B2o76lz4NAH-2FDuYGKBfgXw-3D-3DOnV4_uvXmjjroOlIe-2BPo4Ga7jRSuUXPiKhhHNIRJp9Cs2hP6UsK8K3ZSVfY465lgN-2BpLE1SgHgwlk7bsboG6nedPexKoC1SeXHYZRJ-2F2uehMlI3JckbCPqTaqhFSIfGON6yN-2BtgoVNnTab9xmtUrMFMb-2FG-2FoKMySNKp-2F4hEw4DFjlZsJx06wIWsdZEmT0lWMBO7B4S-2BYbYLfIh4G8ENQ8K7elx3CyL12rlr-2FNF5xXljOGIY5R1EtlvLfyh2oz-2FbAMoTWSYqWotHArD3C59AIP-2BtaLve1EFUp7wTJxAlmJefCqxPs-3D" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://trk.klclick1.com/ls/click?upn%3DYdskLGWd9I6n9hlHHEHr5sV961KwTgh-2FrYAExHk9Q4jDvv1gGpvF4-2FQ5U7fgnXp9B2o76lz4NAH-2FDuYGKBfgXw-3D-3DOnV4_uvXmjjroOlIe-2BPo4Ga7jRSuUXPiKhhHNIRJp9Cs2hP6UsK8K3ZSVfY465lgN-2BpLE1SgHgwlk7bsboG6nedPexKoC1SeXHYZRJ-2F2uehMlI3JckbCPqTaqhFSIfGON6yN-2BtgoVNnTab9xmtUrMFMb-2FG-2FoKMySNKp-2F4hEw4DFjlZsJx06wIWsdZEmT0lWMBO7B4S-2BYbYLfIh4G8ENQ8K7elx3CyL12rlr-2FNF5xXljOGIY5R1EtlvLfyh2oz-2FbAMoTWSYqWotHArD3C59AIP-2BtaLve1EFUp7wTJxAlmJefCqxPs-3D&amp;source=gmail&amp;ust=1646132260230000&amp;usg=AOvVaw2_zuzJRCp062jxZufkWSDs">
    <img align="center" alt="The Memo" class="m_-8901253243731885328kmImage CToWUd" src="https://ci6.googleusercontent.com/proxy/Eq8e8KRTG4lOMNgbQhci2WlwAH6jIC1Te57GnrlWsjLJvUZsFB6WDqcGV5t5KmDV9QYRFf8TioISO-kbB5zG_bRpjPucyjopFL-92ly2fBMd3oNSkTnqBacSdOSrg01JxyeNw7Qma-q3pOUpUc1Nfab4d12wO087=s0-d-e1-ft#https://d3k81ch9hvuctc.cloudfront.net/company/KTNmVp/images/ae1bf1b2-3db0-4cbd-95c0-9c97fd9e4538.jpeg" style="border:0;height:auto;line-height:100%;max-width:1200px;outline:none;text-decoration:none;font-size:12px;padding-bottom:0;vertical-align:top;width:100%;display:inline;padding:0;border-width:0" width="600">
    </a>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    <tr>
    <td align="center" style="border-collapse:collapse;table-layout:fixed" valign="top">
    <table border="0" cellpadding="0" cellspacing="0" class="m_-8901253243731885328templateRow" style="border-collapse:collapse;table-layout:fixed" width="100%">
    <tbody>
    <tr>
    <td class="m_-8901253243731885328rowContainer m_-8901253243731885328kmFloatLeft" style="border-collapse:collapse;table-layout:fixed" valign="top">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed;min-width:100%" width="100%">
    <tbody>
    <tr>
    <td style="border-collapse:collapse;table-layout:fixed;padding:0;padding-left:9;padding-right:9" valign="top">
    <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed;min-width:100%" width="100%">
    <tbody>
    <tr>
    <td class="m_-8901253243731885328kmImageContent" style="border-collapse:collapse;table-layout:fixed;font-size:0;padding:0" valign="top">
    <img align="left" alt="Baby gift giving, made easy" class="m_-8901253243731885328kmImage CToWUd a6T" src="https://ci5.googleusercontent.com/proxy/dNBcQtkyPR8XmUjqwUX0Qic1XU-OHegmdazyqcZB06_EdAhgvcBx-u08UN8V3Ro8OcvNR6igQnRmw19YL41mhmiK7tGjuPM9MLvcYr60BRc_1eo_UYPtsnaNEhfH6prHXM5mxDjhC0cFXr5SY1QVYxcmVpgpTwsS=s0-d-e1-ft#https://d3k81ch9hvuctc.cloudfront.net/company/KTNmVp/images/60b09501-18cc-491e-ad93-504f9ccf0e61.jpeg" style="border:0;height:auto;line-height:100%;max-width:1200px;outline:none;text-decoration:none;margin-right:0;font-size:12px;padding-bottom:0;vertical-align:top;width:100%;display:inline;padding:0;border-width:0" width="582" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 764px; top: 782px;"><div id=":p2" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    <tr>
    <td align="center" style="border-collapse:collapse;table-layout:fixed" valign="top">
    <table border="0" cellpadding="0" cellspacing="0" class="m_-8901253243731885328templateRow" style="border-collapse:collapse;table-layout:fixed" width="100%">
    <tbody>
    <tr>
    <td class="m_-8901253243731885328rowContainer m_-8901253243731885328kmFloatLeft" style="border-collapse:collapse;table-layout:fixed" valign="top">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed" width="100%">
    <tbody>
    <tr>
    <td style="border-collapse:collapse;table-layout:fixed;padding-top:0">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed" width="100%">
    <tbody>
    <tr><td style="border-collapse:collapse;table-layout:fixed"><span></span></td></tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    <tr>
    <td align="center" style="border-collapse:collapse;table-layout:fixed" valign="top">
    <table border="0" cellpadding="0" cellspacing="0" class="m_-8901253243731885328templateRow" style="border-collapse:collapse;table-layout:fixed" width="100%">
    <tbody>
    <tr>
    <td class="m_-8901253243731885328rowContainer m_-8901253243731885328kmFloatLeft" style="border-collapse:collapse;table-layout:fixed" valign="top">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed" width="100%">
    <tbody>
    <tr>
    <td class="m_-8901253243731885328kmTextBlockInner" style="border-collapse:collapse;table-layout:fixed;background-color:#e9ffe1" valign="top">
    <table align="left" border="0" cellpadding="0" cellspacing="0" class="m_-8901253243731885328kmTextContentContainer" style="border-collapse:collapse;table-layout:fixed" width="100%">
    <tbody>
    <tr>
    <td class="m_-8901253243731885328kmTextContent" style="border-collapse:collapse;table-layout:fixed;color:#181818;font-family:&quot;Helvetica Neue&quot;,Arial;font-size:16px;letter-spacing:0;line-height:1.5;max-width:100%;text-align:left;word-wrap:break-word;font-weight:normal;padding-bottom:10px;padding-right:30px;padding-left:30px;padding-top:0;background-color:#e9ffe1;border-width:30px;border-color:#e9ffe1;border-style:solid" valign="top">
    <p style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding-bottom:1em;text-align:center"><span style="font-size:20px">Hi,</span></p>
    <p style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding-bottom:1em;text-align:center"><span style="font-size:20px"><span style="font-size:20px;text-align:center">{data.registry.attributes.first_name} {data.registry.attributes.last_name} has set up a Gift Registry at&nbsp;<strong>The Memo.</strong></span></span></p>
    <p dir="ltr" style="margin-bottom:10pt;margin-left:0;margin-right:0;margin-top:10pt;padding-bottom:1em;line-height:1.38;text-align:center"><em><span style="font-size:16px"><span id="m_-8901253243731885328docs-internal-guid-8a1f2f08-7fff-ac3c-b57f-b90fe4be63f1"><span id="previewEmailMsg" style="font-family:Arial;font-variant-ligatures:normal;font-variant-east-asian:normal;vertical-align:baseline;white-space:pre-wrap">{data.registry.attributes.registrant_message}</span></span></span></em></p>
    <p dir="ltr" style="margin-bottom:10pt;margin-left:0;margin-right:0;margin-top:10pt;padding-bottom:1em;line-height:1.38;text-align:center"><span style="font-size:16px"><span id="m_-8901253243731885328docs-internal-guid-8a1f2f08-7fff-ac3c-b57f-b90fe4be63f1"><span style="font-family:Arial;font-variant-ligatures:normal;font-variant-east-asian:normal;vertical-align:baseline;white-space:pre-wrap">To buy a gift that they have registered for, click the shop now link below and enter password {data.registry.attributes.password}.</span></span></span></p>
    <p dir="ltr" style="margin-bottom:10pt;margin-left:0;margin-right:0;margin-top:10pt;padding-bottom:1em;line-height:1.38;text-align:center"><span style="font-family:Arial;font-size:16px;text-align:center;white-space:pre-wrap">Once you've selected and purchased your gift, we'll wrap it and it will be delivered along with all the other gifts on {data.registry.attributes."name": ""}’s nominated date. Don't worry, you won’t be charged delivery.</span></p>
    <p dir="ltr" style="margin-bottom:10pt;margin-left:0;margin-right:0;margin-top:10pt;padding-bottom:1em;line-height:1.38;text-align:center"><span style="text-align:center">Please note, you have until {data.registry.attributes.bundle_shipping_date} to purchase from this registry with free delivery.</span></p>
    <p dir="ltr" style="margin-bottom:10pt;margin-left:0;margin-right:0;margin-top:10pt;padding-bottom:0;line-height:1.38;text-align:center"><span style="font-size:16px"><span id="m_-8901253243731885328docs-internal-guid-8a1f2f08-7fff-ac3c-b57f-b90fe4be63f1"><span style="font-family:Arial;font-variant-ligatures:normal;font-variant-east-asian:normal;vertical-align:baseline;white-space:pre-wrap"><em>Easy!</em></span></span></span></p>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed;width:100%" width="100%">
    <tbody>
    <tr>
    <td align="center" style="border-collapse:collapse;table-layout:fixed;min-width:60px;padding:9px 18px;padding-top:0;padding-bottom:0;padding-left:0;padding-right:0" valign="top">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate;table-layout:fixed;background-color:#ff5e38;border-bottom-left-radius:5px;border-bottom-right-radius:5px;border-top-left-radius:5px;border-top-right-radius:5px;border-radius:0;min-width:100%" width="100%">
    <tbody>
    <tr>
    
    <td align="center" style="border-collapse:collapse;table-layout:fixed;color:#fff;font-family:&quot;Helvetica Neue&quot;,Arial;font-size:16px;font-weight:normal;letter-spacing:3px" valign="middle">
    <a style="max-width:100%;color:#fff;font-family:&quot;Helvetica Neue&quot;,Arial;font-size:16px;font-weight:normal;line-height:100%;text-align:center;text-decoration:none;word-wrap:break-word;display:inline-block;width:100%;letter-spacing:3px;padding-top:15px;padding-bottom:15px" title="" href="https://trk.klclick1.com/ls/click?upn=YdskLGWd9I6n9hlHHEHr5rY817QJ1ZJsN8kC5lto4vY-3DaZHU_uvXmjjroOlIe-2BPo4Ga7jRSuUXPiKhhHNIRJp9Cs2hP6UsK8K3ZSVfY465lgN-2BpLE1SgHgwlk7bsboG6nedPexKoC1SeXHYZRJ-2F2uehMlI3KzKmwurNAHNT7wKZcHMndaAwlSpltEWGtv11ObV42R789aUbHHyOYpGdb9DIyUk242e1y-2BQWuf-2FI-2FCXBTDElkAVAPPO2-2FK1QZnOmG0PCUTHGUaP9gFfhUTHwXXqHcJaSIEsPChCY32ex-2BJHMdpIwD56PGPvpHvSmFGBWDf3tYtLOMhiPviPcW2svipR-2BCC1nE-3D" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://trk.klclick1.com/ls/click?upn%3DYdskLGWd9I6n9hlHHEHr5rY817QJ1ZJsN8kC5lto4vY-3DaZHU_uvXmjjroOlIe-2BPo4Ga7jRSuUXPiKhhHNIRJp9Cs2hP6UsK8K3ZSVfY465lgN-2BpLE1SgHgwlk7bsboG6nedPexKoC1SeXHYZRJ-2F2uehMlI3KzKmwurNAHNT7wKZcHMndaAwlSpltEWGtv11ObV42R789aUbHHyOYpGdb9DIyUk242e1y-2BQWuf-2FI-2FCXBTDElkAVAPPO2-2FK1QZnOmG0PCUTHGUaP9gFfhUTHwXXqHcJaSIEsPChCY32ex-2BJHMdpIwD56PGPvpHvSmFGBWDf3tYtLOMhiPviPcW2svipR-2BCC1nE-3D&amp;source=gmail&amp;ust=1646132260230000&amp;usg=AOvVaw0AgmvWaqJjuxPI29J9-pAM">SHOP NOW</a>
    </td>
    
    
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed;min-width:100%" width="100%">
    <tbody>
    <tr>
    <td style="border-collapse:collapse;table-layout:fixed;padding:0;padding-left:9;padding-right:9" valign="top">
    <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed;min-width:100%" width="100%">
    <tbody>
    <tr>
    <td class="m_-8901253243731885328kmImageContent" style="border-collapse:collapse;table-layout:fixed;font-size:0;padding:0" valign="top">
    <a style="max-width:100%;word-wrap:break-word" href="https://trk.klclick1.com/ls/click?upn=XqygDVUqeI77b1DdgjuT3p66bI9oY8qgGvjF0sub0cgERSolVbJX1omLO9WNT9ZBLI5KlvrmxbGpnID-2BlWb1HA-3D-3D4OSN_uvXmjjroOlIe-2BPo4Ga7jRSuUXPiKhhHNIRJp9Cs2hP6UsK8K3ZSVfY465lgN-2BpLE1SgHgwlk7bsboG6nedPexKoC1SeXHYZRJ-2F2uehMlI3LvBIv4-2BGp1ThlkAr-2BJA0iGhXkSKV60E4SxWNWkv7sQ1l-2FWuR91K-2B7dNvMsss-2B31zcV0w8wu5jXioDGUiIlRBeambWxP4ESAigUVC7fHr4bOtNdMuth9n3lTXoLuUcV1MX6jQmkM7QYnGOaZVX-2B9-2BcYk-2F5t1d-2BXJopHB4ugz23EFdiKzcHSGuee2arWaZ95zjk-3D" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://trk.klclick1.com/ls/click?upn%3DXqygDVUqeI77b1DdgjuT3p66bI9oY8qgGvjF0sub0cgERSolVbJX1omLO9WNT9ZBLI5KlvrmxbGpnID-2BlWb1HA-3D-3D4OSN_uvXmjjroOlIe-2BPo4Ga7jRSuUXPiKhhHNIRJp9Cs2hP6UsK8K3ZSVfY465lgN-2BpLE1SgHgwlk7bsboG6nedPexKoC1SeXHYZRJ-2F2uehMlI3LvBIv4-2BGp1ThlkAr-2BJA0iGhXkSKV60E4SxWNWkv7sQ1l-2FWuR91K-2B7dNvMsss-2B31zcV0w8wu5jXioDGUiIlRBeambWxP4ESAigUVC7fHr4bOtNdMuth9n3lTXoLuUcV1MX6jQmkM7QYnGOaZVX-2B9-2BcYk-2F5t1d-2BXJopHB4ugz23EFdiKzcHSGuee2arWaZ95zjk-3D&amp;source=gmail&amp;ust=1646132260230000&amp;usg=AOvVaw0Qrh9XMRuX3ttHy5rbl8J2">
    <img align="left" alt="Fast, Feel Good Delivery" class="m_-8901253243731885328kmImage CToWUd" src="https://ci3.googleusercontent.com/proxy/E_clIXK8ptou2Kyb4aqI_Ub2VRiz4xqhF54VvSB_x7G5xaFcsGzqbGX6ziv8mNfhrtaMPTjhJ85Ak8QLa9dX1MdLPe6xHfDSjpIBFN9jZuzXW-7ZpqOHv57KPABHifrCVnzWMdAi313neNGN9zA8fDiytx8UcxFA=s0-d-e1-ft#https://d3k81ch9hvuctc.cloudfront.net/company/KTNmVp/images/1afd2542-9790-4f1e-a6be-d18ef1c50341.jpeg" style="border:0;height:auto;line-height:100%;max-width:1200px;outline:none;text-decoration:none;margin-right:0;font-size:12px;padding-bottom:0;vertical-align:top;width:100%;display:inline;padding:0;border-width:0" width="582">
    </a>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed" width="100%">
    <tbody>
    <tr>
    <td align="center" style="border-collapse:collapse;table-layout:fixed;padding-top:15px;padding-bottom:15px;background-color:#ff5e38;padding-left:9px;padding-right:9px" valign="top">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed" width="100%">
    <tbody>
    <tr>
    <td align="center" style="border-collapse:collapse;table-layout:fixed">
    <table border="0" cellpadding="0" cellspacing="0" class="m_-8901253243731885328kmButtonBarContent" style="border-collapse:collapse;table-layout:fixed;font-family:&quot;Helvetica Neue&quot;,Arial">
    <tbody>
    <tr>
    <td align="center" style="border-collapse:collapse;table-layout:fixed" valign="top">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed">
    <tbody>
    <tr>
    <td style="border-collapse:collapse;table-layout:fixed" valign="top">
    <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed">
    <tbody>
    <tr>
    <td align="center" style="border-collapse:collapse;table-layout:fixed" valign="top">
    <a style="max-width:100%;word-wrap:break-word" href="https://trk.klclick1.com/ls/click?upn=XqygDVUqeI77b1DdgjuT3uu-2FtNUWtppdSlCPBrgCbUZNU5Cmi92ZoFv-2FaDA158xbcGignx3VxroUpD06DoIovA-3D-3DpGkN_uvXmjjroOlIe-2BPo4Ga7jRSuUXPiKhhHNIRJp9Cs2hP6UsK8K3ZSVfY465lgN-2BpLE1SgHgwlk7bsboG6nedPexKoC1SeXHYZRJ-2F2uehMlI3J-2BHiu-2BIRBzgeQHwlYJHGwc73fxf0dWB3lrd4siXtotHNF4iHenU-2BFf9PfIAgytaBREk1pUf0KXzYAx2F2aHQ9SE-2FJnE9QFKLcpIkvJ-2FTq6y-2BRiNxy9myvwGQ3eE29fOdrhGWUq6i5muDXdEfo9Eo417l6vm8SviAsXPF49iXRgZMx1SdygfAPmMoaYljMtZY4-3D" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://trk.klclick1.com/ls/click?upn%3DXqygDVUqeI77b1DdgjuT3uu-2FtNUWtppdSlCPBrgCbUZNU5Cmi92ZoFv-2FaDA158xbcGignx3VxroUpD06DoIovA-3D-3DpGkN_uvXmjjroOlIe-2BPo4Ga7jRSuUXPiKhhHNIRJp9Cs2hP6UsK8K3ZSVfY465lgN-2BpLE1SgHgwlk7bsboG6nedPexKoC1SeXHYZRJ-2F2uehMlI3J-2BHiu-2BIRBzgeQHwlYJHGwc73fxf0dWB3lrd4siXtotHNF4iHenU-2BFf9PfIAgytaBREk1pUf0KXzYAx2F2aHQ9SE-2FJnE9QFKLcpIkvJ-2FTq6y-2BRiNxy9myvwGQ3eE29fOdrhGWUq6i5muDXdEfo9Eo417l6vm8SviAsXPF49iXRgZMx1SdygfAPmMoaYljMtZY4-3D&amp;source=gmail&amp;ust=1646132260231000&amp;usg=AOvVaw3v4fYfaTYV7fJgcFQAfBp_"><img alt="Instagram" src="https://ci4.googleusercontent.com/proxy/gfir70Ah-VmFGnVV6WnnDDFE8Am0cY4Dt0ecuOWTEK2V_PQqgp4uW1skd7108eBsPUQsGwYBBBFmIztTBkqWj32U2pyJcEuuxJrVxrbZ6MJs11s5g8sILXUS26g4qHs9rKJwqWPqgqE8YVL0=s0-d-e1-ft#https://d3k81ch9hvuctc.cloudfront.net/assets/email/buttons/subtleinverse/instagram_96.png" style="border:0;height:auto;line-height:100%;max-width:48px;outline:none;text-decoration:none;width:48px;display:block" width="48" class="CToWUd"></a>
    </td>
    </tr>
    </tbody>
    </table>
    
    <table align="left" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed">
    <tbody>
    <tr>
    <td align="center" style="border-collapse:collapse;table-layout:fixed" valign="top">
    <a style="max-width:100%;word-wrap:break-word" href="https://trk.klclick1.com/ls/click?upn=XqygDVUqeI77b1DdgjuT3gU6-2Fb8ttlWLbKJdOZ2gpIYO5opc-2B0tuX3GIVk2nDyGnCRWIefGwNVUmKCWzLOpDR10L2Gy6qGXTkyUo-2FE7GSVM-3D8jb-_uvXmjjroOlIe-2BPo4Ga7jRSuUXPiKhhHNIRJp9Cs2hP6UsK8K3ZSVfY465lgN-2BpLE1SgHgwlk7bsboG6nedPexKoC1SeXHYZRJ-2F2uehMlI3I2NErWe6rkSI9P54-2BMz8vNzEW-2BgPCAEyF-2F235Fppms4F2dJDeNUqR-2F8N08OZkgQExjpWmsECWan-2B7o-2BSNgnicOV-2FhBK1-2FKA-2Bp-2BB5jEY-2F-2BzNe6TQS21-2Bp0LMPsuYmOt9Ba3Lo8F4dsSlTRCmtX4gR9JN8Df2lLyRhvEqBb4iyOPoTVSDKhC-2BfD9G3pj7qJ6kFQ-3D" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://trk.klclick1.com/ls/click?upn%3DXqygDVUqeI77b1DdgjuT3gU6-2Fb8ttlWLbKJdOZ2gpIYO5opc-2B0tuX3GIVk2nDyGnCRWIefGwNVUmKCWzLOpDR10L2Gy6qGXTkyUo-2FE7GSVM-3D8jb-_uvXmjjroOlIe-2BPo4Ga7jRSuUXPiKhhHNIRJp9Cs2hP6UsK8K3ZSVfY465lgN-2BpLE1SgHgwlk7bsboG6nedPexKoC1SeXHYZRJ-2F2uehMlI3I2NErWe6rkSI9P54-2BMz8vNzEW-2BgPCAEyF-2F235Fppms4F2dJDeNUqR-2F8N08OZkgQExjpWmsECWan-2B7o-2BSNgnicOV-2FhBK1-2FKA-2Bp-2BB5jEY-2F-2BzNe6TQS21-2Bp0LMPsuYmOt9Ba3Lo8F4dsSlTRCmtX4gR9JN8Df2lLyRhvEqBb4iyOPoTVSDKhC-2BfD9G3pj7qJ6kFQ-3D&amp;source=gmail&amp;ust=1646132260231000&amp;usg=AOvVaw0Kyz0QcIxPZUUHSZEWnMaX"><img alt="Facebook" src="https://ci4.googleusercontent.com/proxy/Dp9eFft8NQ10Qip1ff-iAaoTbnmEi79K78wLatRkKFbo0YuFznCq_j_2vqMDVXnJWmInfUvVr-4xMTSWgQLbhk8TGfrRDUtvqfdPeSIcMOOBBYSyzP9RjjqwVf6VYC89bVrNkJZZBkrSqfM=s0-d-e1-ft#https://d3k81ch9hvuctc.cloudfront.net/assets/email/buttons/subtleinverse/facebook_96.png" style="border:0;height:auto;line-height:100%;max-width:48px;outline:none;text-decoration:none;width:48px;display:block" width="48" class="CToWUd"></a>
    </td>
    </tr>
    </tbody>
    </table>
    
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" class="m_-8901253243731885328kmDesktopOnly" style="border-collapse:collapse;table-layout:fixed" width="100%">
    <tbody>
    <tr>
    <td class="m_-8901253243731885328kmTextBlockInner" style="border-collapse:collapse;table-layout:fixed" valign="top">
    <table align="left" border="0" cellpadding="0" cellspacing="0" class="m_-8901253243731885328kmTextContentContainer" style="border-collapse:collapse;table-layout:fixed" width="100%">
    <tbody>
    <tr>
    <td class="m_-8901253243731885328kmTextContent" style="border-collapse:collapse;table-layout:fixed;color:#222;font-family:&quot;Helvetica Neue&quot;,Arial;font-size:11px;letter-spacing:0;line-height:1.3;max-width:100%;text-align:center;word-wrap:break-word;padding-bottom:15px;padding-right:18px;padding-left:18px;padding-top:15px;background-color:#f7f7f7" valign="top">
    <p style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;text-align:center"><span style="color:#777777">No longer want to receive these emails? <a style="color:#777777;font-weight:normal;text-decoration:underline" href="https://trk.klclick1.com/ls/click?upn=YdskLGWd9I6n9hlHHEHr5tJv0jvbfnHbZauhMjdsqPB5tZd7zIQICQpDxqnKtNsZCCPMxCYoY9L0U5SBi6u8ZDTdmhMg6sp1ohMDr5OTlZA-3DV7VQ_uvXmjjroOlIe-2BPo4Ga7jRSuUXPiKhhHNIRJp9Cs2hP6UsK8K3ZSVfY465lgN-2BpLE1SgHgwlk7bsboG6nedPexKoC1SeXHYZRJ-2F2uehMlI3KXKx8is-2FnZL8ABdJ5zfFhTm7LCXCnhFwf70ZqZZmevbcBN07uUbGUneaXx76PabaTU6-2BnAIJNTjz-2BKlI3VcoFOJNhdF-2BMTkCAyM5yFSKY6-2FQbQCXOwi8ToypB1G0U4vu8Rb-2FFrymDYngDuyECiYoy5bG1Mn8ZCWh1eHVt0I8EcZiT0-2FLWGgiEU53OtpmYzIjk-3D" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://trk.klclick1.com/ls/click?upn%3DYdskLGWd9I6n9hlHHEHr5tJv0jvbfnHbZauhMjdsqPB5tZd7zIQICQpDxqnKtNsZCCPMxCYoY9L0U5SBi6u8ZDTdmhMg6sp1ohMDr5OTlZA-3DV7VQ_uvXmjjroOlIe-2BPo4Ga7jRSuUXPiKhhHNIRJp9Cs2hP6UsK8K3ZSVfY465lgN-2BpLE1SgHgwlk7bsboG6nedPexKoC1SeXHYZRJ-2F2uehMlI3KXKx8is-2FnZL8ABdJ5zfFhTm7LCXCnhFwf70ZqZZmevbcBN07uUbGUneaXx76PabaTU6-2BnAIJNTjz-2BKlI3VcoFOJNhdF-2BMTkCAyM5yFSKY6-2FQbQCXOwi8ToypB1G0U4vu8Rb-2FFrymDYngDuyECiYoy5bG1Mn8ZCWh1eHVt0I8EcZiT0-2FLWGgiEU53OtpmYzIjk-3D&amp;source=gmail&amp;ust=1646132260231000&amp;usg=AOvVaw1J1p0znlyGNxTcMyie-Imu">Unsubscribe</a>.<br>
    the memo Pty Ltd</span></p>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    
    <table border="0" cellpadding="0" cellspacing="0" class="m_-8901253243731885328kmMobileOnly" style="border-collapse:collapse;table-layout:fixed;display:none" width="100%">
    <tbody>
    <tr>
    <td class="m_-8901253243731885328kmTextBlockInner" style="border-collapse:collapse;table-layout:fixed" valign="top">
    <table align="left" border="0" cellpadding="0" cellspacing="0" class="m_-8901253243731885328kmTextContentContainer" style="border-collapse:collapse;table-layout:fixed" width="100%">
    <tbody>
    <tr>
    <td class="m_-8901253243731885328kmTextContent" style="border-collapse:collapse;table-layout:fixed;color:#222;font-family:&quot;Helvetica Neue&quot;,Arial;font-size:11px;letter-spacing:0;line-height:1.3;max-width:100%;text-align:center;word-wrap:break-word;padding-bottom:15px;padding-right:18px;padding-left:18px;padding-top:15px;background-color:#f7f7f7" valign="top">
    <p style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;text-align:center"><span style="color:#777777">No longer want to receive these emails?<br>
    <a style="color:#777777;font-weight:normal;text-decoration:underline" href="https://trk.klclick1.com/ls/click?upn=YdskLGWd9I6n9hlHHEHr5tJv0jvbfnHbZauhMjdsqPB5tZd7zIQICQpDxqnKtNsZCCPMxCYoY9L0U5SBi6u8ZDTdmhMg6sp1ohMDr5OTlZA-3DcVik_uvXmjjroOlIe-2BPo4Ga7jRSuUXPiKhhHNIRJp9Cs2hP6UsK8K3ZSVfY465lgN-2BpLE1SgHgwlk7bsboG6nedPexKoC1SeXHYZRJ-2F2uehMlI3Ir9Sm81mA53YlO1aWE8LSZl44-2BDXFG30n0jzYTlRb-2FpJXINyha2eIi5E1AcOWhIOqoTkAurle3IuzjbYXtrYgJweeecZuxZmPGok6SLedIbqZz7-2Fx7EjV1rhaqpfB6e4Je3-2B13ZwCGybvC5wN0-2FFX2pRCMI0rfE3TR12RX-2FEAGs2y8MivVvaKbQTqp3SbHzKo-3D" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://trk.klclick1.com/ls/click?upn%3DYdskLGWd9I6n9hlHHEHr5tJv0jvbfnHbZauhMjdsqPB5tZd7zIQICQpDxqnKtNsZCCPMxCYoY9L0U5SBi6u8ZDTdmhMg6sp1ohMDr5OTlZA-3DcVik_uvXmjjroOlIe-2BPo4Ga7jRSuUXPiKhhHNIRJp9Cs2hP6UsK8K3ZSVfY465lgN-2BpLE1SgHgwlk7bsboG6nedPexKoC1SeXHYZRJ-2F2uehMlI3Ir9Sm81mA53YlO1aWE8LSZl44-2BDXFG30n0jzYTlRb-2FpJXINyha2eIi5E1AcOWhIOqoTkAurle3IuzjbYXtrYgJweeecZuxZmPGok6SLedIbqZz7-2Fx7EjV1rhaqpfB6e4Je3-2B13ZwCGybvC5wN0-2FFX2pRCMI0rfE3TR12RX-2FEAGs2y8MivVvaKbQTqp3SbHzKo-3D&amp;source=gmail&amp;ust=1646132260231000&amp;usg=AOvVaw0i4ygEXB0EQugF7oIo6HKe">Unsubscribe</a>.<br>
    the memo Pty Ltd</span></p>
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    
    </td>
    </tr>
    </tbody>
    </table>
    </td>
    </tr>
    </tbody></table>
    
    </div>
    </div>
    <div style="display:none!important;font-size:1px;color:#ffffff;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden">‌</div>
    
    
    </td>
    </tr>
    </tbody>
    </table>
    </center>
    
    <img src="https://ci6.googleusercontent.com/proxy/uc8tKLuMdpnYz0rauFiuhLOWQYpCaoGqHIoORZC8IbV7fCWy1jTktQT0_y3hng3dlJEo89OHFeEdRBwURp4WoW7q3AsrzC_dxan4cMKA443JTx18skDtH1gfypwiLIwAEnoONoDTA2rQdPmHX399umQKSfpBmoCQn2wBRzrM9nes_Kqkz0SB_MtWQDxXKG5VKQdrjvYoubB8IJ9xxoMRHU7m_UmwRHi7OYfuBNzU-6B_lINWAWAingDQgpPzAnp6ZDClk96KEdVWMdRycOABDjLoDjcFFahRlxAnyYh5JjLJuX0WPQIFzMkeYK-_pJbnlmLiuQm4PYwD31nxQ4PIrE6Uay5JRUmE18LoOPJ97U5ivPsxe17a_hFsETzc_S5XpaZdiGclglsRxFeyKPiD-XHy5KT4AkAirKau2nxg_yZBmtfTkeFRvRD2IA8cQly9WldOrsGyZG5hPzc6Fm9hBJYP1jywXIQDxegqrGGEy4GBUBA=s0-d-e1-ft#https://trk.klclick1.com/wf/open?upn=eAaM7Jh9dlzRWoORcQP4999KePtrl6kcpmS6TikfySmAvBBbMNAq7eeBbnHQp3FBRiIqc8V1bq-2FZiFhwsaFN097tYBDb4LD-2BiVCq82aXHwE7u5yU8H2cMYNyD4zlJ-2BYE5IBs4Fs06O9jUw24HWA0B23OKAmQm275SpZMkxKvQua4DATr5RYeXh0dBxSgwrl4hsHXO0L6xkJQz3QbEefNhRX-2BSjV2TpDwSB1NHYoIYbp9r9h5wQtAMqvUC-2BscE2l2YZvRZFSoNnUl91QpOty-2FJDlGkDNGy7qroxHvhFchd60-3D" alt="" width="1" height="1" border="0" style="height:1px!important;width:1px!important;border-width:0!important;margin-top:0!important;margin-bottom:0!important;margin-right:0!important;margin-left:0!important;padding-top:0!important;padding-bottom:0!important;padding-right:0!important;padding-left:0!important" class="CToWUd"></div></div><div class="yj6qo"></div><div class="yj6qo"></div><div class="yj6qo"></div></div><div id=":od" class="ii gt" style="display:none"><div id=":oe" class="a3s aiL "></div></div><div class="hi"></div></div>