{% assign page_url = content_for_header| split:'"pageurl":"' | last | split:'"' | first | replace: '\', '' | replace: 'thememo.com.au', '' %}
{% assign page_params = page_url | split: "?" | last %}

<nav class="gift-registry-sidebar-menu">
  <h5>{{ header }}</h5>
  <ul>
    {% for link in linklists[menu_handle].links %}
      {% liquid
        assign link_title = link.title
        if link.title contains '['
          assign link_title = link.title | split: '[' | first
          assign tag = link.title | split: '[' | last | replace: ']', ''
        endif
      %}
      <li {% if link.url contains 'account?view=gift-registry-create' %}data-create-registry-link{% endif %}>
        <a href="{{ link.url }}" {% if link.url == page_url %}class="active"{% endif %}>{{ link_title }} {% if tag != blank %}<span class="tag">{{ tag }}</span>{% endif %}</a>
      </li>
    {% endfor %}
  </ul>
</nav>