<div data-index="{item_index}" class="gift-giver-item-wrapper {classnames}">
  <div
    class="gift-giver-item"
    data-variant-id="{variant_id}"
    data-product-handle="{product_handle}"
    data-qty="{quantity_available}"
  >
    {is_drop_ship}
    <img class="gift-giver-item__image" src="{product_image_src}" />
    <div class="gift-giver-item__info">
      <p class="gift-giver-item__vendor">{product_vendor}</p>
      <p class="gift-giver-item__title">{product_title}</p>
      <p class="gift-giver-item__price">${variant_price}</p>
    </div>
    <div class="gift-giver-item__button">
      {gift_registry_item_button}
    </div>
  </div>
</div>