<div class="gift-registry-intro-panel">
  <div class="registry-welcome">
    <h4 class="welcome-item welcome--header"></h4>
    <div class="welcome-item welcome--message"></div>
    <div class="welcome-item welcome--actions">
      <a data-share-link-welcome class="pd-button pd-button--lively-blue pd-button--outline" href="#">GUEST VIEW</a>
      <a class="pd-button pd-button--lively-blue pd-button--outline" href="/account?view=gift-registry-share">SHARE REGISTRY</a>
    </div>
  </div>
  <a href="/account?view=gift-registry-edit" class="gift-registry-intro-panel__edit">{% render 'icon.svg', type: 'pencil' %}</a>
</div>
