{%- liquid
  assign tier = 'little'
  assign tier_little = ''
  assign tier_big = ''
  assign tier_huge = ''
  assign tier_threshold = 500
  assign total_coupons_with_tier = 0

  for tag in customer.tags
    assign tag_split = tag | split: ':'
    assign tag_first = tag_split[0]
    assign tag_last = tag_split[1]

    if tag_first == 'tier'
      if 'little,big,huge' contains tag_last
        if 'little' contains tag_last
          assign tier_little = tag_last
        endif
        if 'big' contains tag_last
          assign tier_big = tag_last
        endif
        if 'huge' contains tag_last
          assign tier_huge = tag_last
        endif
      endif

      continue
    endif
  endfor

  # <!-- validation of tiers depending customer tags -->

  if tier_little != blank and tier_big == blank and tier_huge == blank
    assign tier = tier_little
  elsif tier_big != blank and tier_huge == blank
    assign tier = tier_big
    assign tier_threshold = 1000
  elsif tier_huge != blank
    assign tier = tier_huge
  endif

  assign tier_arr = settings.total_coupons_with_tier | split: ','
  for item in tier_arr
    assign label = item | split: ':' | first
    assign value = item | split: ':' | last

    if label == tier
      assign total_coupons_with_tier = value
    endif
  endfor
-%}

<div class="page-width">
  <div class="feel-good-club-page feel-good-club-page--dashboard feel-good-club-page--2-columns">
    <div class="feel-good-club-page__sidebar">
      {% render 'pd-feel-good-club-sidebar',
        total_coupons_with_tier: total_coupons_with_tier,
        tier: tier,
        tier_threshold: tier_threshold
      %}

      <a
        class="pd-button pd-button--lively-blue pd-button--full-width feel-good-club-logout-btn  hide-tablet-and-down"
        href="{{ routes.account_logout_url }}"
      >
        {{ 'customer.log_out' | t }}
      </a>
    </div>
    <div class="feel-good-club-page__content">
      <nav class="breadcrumbs hide-tablet-and-down" role="navigation" aria-label="breadcrumbs">
        <ol class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a
              class="breadcrumbs__link"
              href="/account?view=feel-good-club-order-history"
              aria-current="page"
            >
              My Account
            </a>
          </li>
          <li class="breadcrumbs__item">
            <a
              class="breadcrumbs__link"
              href="/account?view=feel-good-club-dashboard"
              aria-current="page"
            >
              Feel Good Club
            </a>
          </li>
        </ol>
      </nav>

      <div class="hide-tablet-and-down">
        {%- render 'pd-feel-good-club-tier-away-from-next', tier: tier, tier_threshold: tier_threshold -%}
      </div>

      {%- render 'pd-feel-good-club-product-recommendation' -%}

      {%- render 'pd-feel-good-club-content-cards' -%}
    </div>
  </div>

  <a
    class="pd-button pd-button--lively-blue pd-button--full-width feel-good-club-logout-btn hide-desktop-and-up"
    href="{{ routes.account_logout_url }}"
  >
    {{ 'customer.log_out' | t }}
  </a>
</div>

{% schema %}
{
  "name": "FGC Dashboard",
  "settings": [
    {
      "type": "header",
      "content": "Menu sidebar"
    },
    {
      "type": "text",
      "id": "main_menu",
      "label": "Main menu",
      "default": "n-feel-goodclub-benefits"
    },
    {
      "type": "text",
      "id": "extra_menu",
      "label": "Extra menu",
      "default": "n-the-memo-services"
    },
    {
      "type": "text",
      "id": "order_and_details_menu",
      "label": "Order and details menu",
      "default": "n-orders-details"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 50
    },
    {
      "type": "header",
      "content": "Product carousel"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading product carousel"
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "Show arrows",
      "default": true
    },
    {
      "type": "color",
      "id": "arrow_color",
      "label": "Arrow color",
      "default": "#FC4734"
    },
    {
      "type": "select",
      "id": "product_width_mobile",
      "label": "Product's width mobile",
      "options": [
        {
          "label": "1/2",
          "value": "one-half"
        },
        {
          "label": "3/4",
          "value": "three-quaters"
        }
      ],
      "default": "one-half"
    },
    {
      "type": "range",
      "id": "number_products_showing",
      "label": "Number products showing(Desktop)",
      "min": 3,
      "max": 6,
      "step": 1,
      "default": 3
    },
    {
      "type": "header",
      "content": "Scrollbar"
    },
    {
      "type": "color",
      "id": "scrollbar_color",
      "label": "Scrollbar color",
      "default": "#0A2657"
    },
    {
      "type": "color",
      "id": "scrollbar_piece_color",
      "label": "Scrollbar piece color",
      "default": "#0554FF"
    },
    {
      "type": "header",
      "content": "Product card"
    },
    {
      "type": "checkbox",
      "id": "hide_secondary_image",
      "label": "Hide seccondary image",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hide_vendor",
      "label": "Hide vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hide_rating",
      "label": "Hide rating",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hide_swatch",
      "label": "Hide swatch",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show description",
      "default": false
    },
    {
      "type": "header",
      "content": "Padding and margin"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 50
    },
    {
      "type": "range",
      "id": "margin_top",
      "label": "Margin top",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 50
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "tier",
      "name": "Tier",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading color"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "content-card",
      "name": "Content card",
      "limit": 3,
      "settings": [
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background color"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image mobile"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button link"
        },
        {
          "type": "color",
          "id": "button_bg_color",
          "label": "Background color"
        },
        {
          "type": "color",
          "id": "button_border_color",
          "label": "Border color"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Text color"
        }
      ]
    },
    {
      "type": "carousel-item",
      "name": "Carousel item",
      "limit": 8,
      "settings": [
        {
          "type": "product",
          "id": "selected_product",
          "label": "Select product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FGC Dashboard"
    }
  ]
}
{% endschema %}
